{ config, pkgs, ... }:
{
    imports = [<nixpkgs/nixos/modules/installer/virtualbox-demo.nix> ];

    # Let demo build as a trusted user.
    nix.trustedUsers = [ "demo" ];

    nixpkgs.config.allowUnfree = true;

    programs.fish.enable = true;
    programs.fish.shellInit = "fish_vi_key_bindings";
    programs.fish.shellAliases = {
        vi = "nvim";
    };

    users.extraUsers.demo = {
        shell = pkgs.fish;
    };

    # By default, the NixOS VirtualBox demo image includes SDDM and Plasma. If
    # you prefer another desktop manager or display manager, you may want to
    # disable the default.
    services.xserver.desktopManager.plasma5.enable = pkgs.lib.mkForce false;
    services.xserver.displayManager.sddm.enable = pkgs.lib.mkForce false;

    services.xserver.enable = true;
    services.xserver.autorun = true;
    services.xserver.layout = "us";
    services.xserver.desktopManager.default = "none";
    services.xserver.desktopManager.xterm.enable = false;
    services.xserver.displayManager.lightdm.enable = true;
    services.xserver.windowManager.i3.enable = true;

    # List packages installed in system profile. To search, run:
    # \$ nix search wget
    environment.systemPackages = with pkgs; [
        tree neovim wget git vscode fish
    ];
}