{
  "editor.formatOnSave": true,
  "workbench.colorTheme": "Solarized Dark",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "python.venvPath": "venv, .venv",
  "cSpell.userWords": [
    "boto",
    "botocore",
    "deserialized",
    "getenv",
    "invariance",
    "moto",
    "ndarray",
    "numpy",
    "postgresql",
    "pylint",
    "pyplot",
    "pytest",
    "randn",
    "timeit",
    "xlabel",
    "ylabel"
  ],
  "python.formatting.provider": "black",
  "autoDocstring.docstringFormat": "google",
  "files.trimTrailingWhitespace": true,
  "files.exclude": {
    "**/__pycache__": true
  }
}
