{
  "editor.formatOnSave": true,
  "workbench.colorTheme": "Solarized Dark",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "python.venvPath": "venv",
  "cSpell.userWords": [
    "boto"
  ],
  "python.formatting.provider": "yapf"
}
