{
  "editor.formatOnSave": true,
  "workbench.colorTheme": "Solarized Dark",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "python.venvPath": "venv, .venv",
  "cSpell.userWords": [
    "boto"
  ],
  "python.formatting.provider": "yapf",
  "autoDocstring.docstringFormat": "google",
  "files.trimTrailingWhitespace": true
}
